:root {
    --ff-primary: 'Piazzolla', serif;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-semi: 600;
    --fw-bold: 700;
    --fw-black: 900;

    --clr-main-bg: #191A24;
    --clr-alt-bg: #674A38;
    --clr-main: #FDE7D5;
    --clr-second: #3C1B23;
    --clr-alt-main: #d3f3e4;
    --clr-alt-second: #15511D;
    --clr-main-hover: #F16D1B;
    --clr-alt-hover: #36cd84;
    --clr-text-body: #f1b06b;
    --clr-text-link: #72C19B;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.collect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--clr-main-bg);
    padding-top: 2rem;
  }
  
  .collect-title {
     max-width: 100%;
  }
  
  .collect-subhead, .collect-bullet {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: var(--fw-med);
    margin-top: 1rem;
    color: var(--clr-text-body);
    max-width: 60vw;
  }
  
  .collect-bullets {
    padding-bottom: 2rem;
  }

  .collect-bullet {
    text-align: left;
  }
  
  .collect-level-up {
    max-width: 60vw;
    margin-bottom: 2rem;
  }
  
  .collect-level-up-mobile {
    display: none;
  }

  .collect-link {
    text-decoration: none;
    font-family: var(--ff-primary);
    color: var(--clr-text-link);
    border-bottom: 0.1rem solid var(--clr-text-link);
    padding-bottom: 0;
  }

  /* extra small screens */
@media screen and  (max-width: 576px) {
    .collect-container {
        padding-top: 1rem;
    }

    .collect-level-up {
        display: none;
    }
    
    .collect-level-up-mobile {
        display: block;
        width: 100%;
        max-width: 60vw;
        padding-top: 1.5rem;
    }

    .collect-title {
        max-width: 80vw;
    }

    .collect-subhead, .collect-bullet {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: var(--fw-med);
        margin-top: 1rem;
        color: var(--clr-text-body);
        max-width: 80vw;
    }
      
    .collect-bullets {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

}

/* Small device styles */
@media screen and (min-width: 577px) and (max-width: 768px) {
    .collect-container {
        padding-top: 1rem;
    }

    .collect-level-up {
        display: block;
        width: 100%;
        max-width: 85vw;
        padding-top: 1.5rem;
    }

    .collect-title {
        max-width: 80vw;
    }

    .collect-subhead, .collect-bullet {
        font-size: 1.2rem;
        line-height: 2rem;
        font-weight: var(--fw-med);
        margin-top: 1rem;
        color: var(--clr-text-body);
        max-width: 80vw;
    }
      
    .collect-bullets {
        padding-bottom: 2rem;
        
    }
}

/* medium device styles */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .collect-container {
        padding-top: 1rem;
    }

    .collect-level-up {
        display: block;
        width: 100%;
        max-width: 80vw;
        padding-top: 1.5rem;
    }

    .collect-title {
        max-width: 70vw;
    }

    .collect-subhead, .collect-bullet {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: var(--fw-med);
        margin-top: 1rem;
        color: var(--clr-text-body);
        max-width: 70vw;
    }
      
    .collect-bullets {
        padding-bottom: 2rem;
    }

}

/* Large device styles */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .collect-container {
        padding-top: 1rem;
    }

    .collect-level-up {
        display: block;
        width: 100%;
        max-width: 75vw;
        padding-top: 1.5rem;
    }

    .collect-title {
        max-width: 80vw;
    }

    .collect-subhead, .collect-bullet {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: var(--fw-med);
        margin-top: 1rem;
        color: var(--clr-text-body);
        max-width: 80vw;
    }
      
    .collect-bullets {
        padding-bottom: 2rem;
        
    }
}