:root {
    --ff-primary: 'Piazzolla', serif;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-semi: 600;
    --fw-bold: 700;
    --fw-black: 900;

    --clr-main-bg: #191A24;
    --clr-alt-bg: #674A38;
    --clr-main: #FDE7D5;
    --clr-second: #3C1B23;
    --clr-alt-main: #d3f3e4;
    --clr-alt-second: #15511D;
    --clr-main-hover: #F16D1B;
    --clr-alt-hover: #36cd84;
    --clr-text-body: #f1b06b;
    --clr-text-link: #72C19B;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.carousel {
    width: 100vw;
    position: relative;
    background-color: #191A24;
    padding-top: 2rem;
    padding-bottom: 5rem;
    overflow: hidden;
  }

  .carousel-title-img {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
    max-width: 100%;
  }
  
  .carousel-images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 30vw;
  }

  .carousel-image {
    position: absolute;
    object-fit: cover;
    max-height: 50vh;
    transition: transform 0.5s ease, opacity 0.5s ease;
    padding: 2rem;
  }
  
  .carousel-main-image {
    max-height: 50vh;
    transform: translateX(50%);
  }

  .side-image {
    max-height: 45vh;
  }
  
 .carousel-arrow {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 3;
  }
  
  .left-arrow {
    margin-right: 1rem;
    left: calc(50% - 35vw);
    transform: translateY(-50%);
    color: #FDE7D5;
  }
  
  .right-arrow {
    margin-left: 1rem;
    right: calc(50% - 35vw);
    transform: translateY(-50%);
    color: #FDE7D5;
  }

  .left-img, .right-img {
    width: 3vw;
  }
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    
  }
  
  .carousel-dot {
    width: 10px;
    height: 10px;
    background-color: var(--clr-main);
    margin: 0 12px;
    transform: rotate(45deg);
    opacity: 0.4;
  }
  
  .carousel-dot.active {
    background-color: var(--clr-text-body);
    opacity: 1;
  }
  
  .carousel-description {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
    margin: .5rem auto;
    position: relative;
  }

  .description-text::-webkit-scrollbar-button {
    background-color: var(--clr-second);
  }
  
  .description-background {
    max-width: 40vw;
    height: auto;
    z-index: 1;
  }
  
  .description-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 85%;
    height: 20vh;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 8px;

    font-family: var(--ff-primary);
    font-size: 1.2rem;
    color: var(--clr-main-bg);
    font-weight: var(--fw-med);
    line-height: 2rem;
  }

  .description-title {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    width: 80%;
    height: 20vh;

    font-family: var(--ff-primary);
    font-size: 1.5rem;
    font-weight: var(--fw-semi);
    color: var(--clr-main-bg);
  }

  .description-text::-webkit-scrollbar {
    width: 8px;
    background-color: #8d7464;
  }

  .description-text::-webkit-scrollbar-button {
    height: 0;
  }

  .description-text::-webkit-scrollbar-thumb {
    background-color:#3d2014;
  }

  
  
  
