:root {
    --ff-primary: 'Piazzolla', serif;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-med: 500;
    --fw-semi: 600;
    --fw-bold: 700;
    --fw-black: 900;

    --clr-main-bg: #191A24;
    --clr-alt-bg: #674A38;
    --clr-main: #FDE7D5;
    --clr-second: #3C1B23;
    --clr-alt-main: #E5F6EE;
    --clr-alt-second: #15511D;
    --clr-main-hover: #F16D1B;
    --clr-alt-hover: #36cd84;
    --clr-text-body: #f1b06b;
    --clr-text-link: #72C19B;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@keyframes bounce-flip {
    0%, 100% {
      transform: translateY(0) rotateY(0deg);
    }
    33% {
      transform: translateY(-30px) rotateY(180deg);
    }
    66% {
      transform: translateY(0) rotateY(360deg);
    }
    
  }
  

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: #191B24;
}

.info-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.info-quest-cards {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
}

.headline {
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--clr-main);
    max-width: 50vw;
}

.subhead {
    font-size: 1.25rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
}

.bullet-points {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.column {
    flex: 1;
    padding: 0 1rem;
    text-align: left;
}

.info-bullet {
    color: var(--clr-text-body);
    font-size: 1.25rem;
    padding-bottom: .5rem;
}

.info-bullet-link {
    text-decoration: none;
    font-family: var(--ff-primary);
    color: var(--clr-text-link);
    border-bottom: .1rem solid var(--clr-text-link);
    padding-bottom: .2rem;
}

.twitter-share-button {
    background-color: var(--clr-alt-main);
    outline: .1rem solid var(--clr-alt-second);
    border-radius: 10px;
    min-width: 18vw;
    height: 3rem;
    box-shadow: none;
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    margin-top: .5rem;
    margin-bottom: 10rem;
    text-decoration: none;
    color: var(--clr-alt-second);
}

.twitter-share-button:hover {
    box-shadow: .3rem .3rem 0px var(--clr-alt-hover);
    transform: translate(-.3rem, -.3rem);
}

.twitter-share-button:active {
    box-shadow: none;
    transform: translate(.1rem, .1rem);
}

.info-golden-quest {
    height: 100%;
    max-width: 20vw;
    margin: -4rem;
    animation: bounce-flip 4s infinite;
}
